:root {
  --NoaaBgColor: #6884B3;
  --panelBgColor: #ccc;
  --tableHeaderBgColor: navajowhite;
  --tableHeaderTabsColor: cornsilk;
}

html, body, #outerBC { width: 100%; height: 100%; border: 0; padding: 0; margin: 0; background-color: var(--NoaaBgColor);
    font-size:11.5px;font-family:verdana, lucida grande, helvetica, arial, sans-serif;          /* These are from Flex site body css*/
}

.claro .dijitAccordionTitle {min-height:10px; font-size: 80%; font-weight: bold}

/*.claro .dijitContentPane { padding: 0; }*/

/*  DOJOX Expando settings  */

  .claro .dojoxExpandoClosed .dojoxExpandoTitle{
    background: #cde8ff no-repeat;
  }
  .claro .dojoxExpandoTitle {height: 10px; min-height: 10px; font-size: small; }
  /*.claro .dojoxExpandoTitle {min-height:10px; font-size: 80%; font-weight: bold}*/
  .claro .dojoxExpandoIcon {width: 30px; height: 15px; position: absolute; top: 1px; left: 50%; background-image: url('assets/images/expandoDownUp.png');}

  .claro .dojoxExpandoBottom .dojoxExpandoIcon, .dojoxExpandoTop .dojoxExpandoIcon, .dojoxExpandoLeft .dojoxExpandoIcon {
    float:right;
    margin-right:2px;
  }

  .claro .dojoxExpandoRight .dojoxExpandoIcon {
    float:left;
    margin-left:2px;
  }

  /*      NOAA custom (horizontal     */
  .noaaExpandoTitle {position: absolute; top: 0; left: 50px; }

  /*      NOAA custom (vertical)     */
  .noaaExpandoTitleVertical {position: absolute; top: 50px; left: 0; writing-mode: vertical-lr }
  .noaaExpandoIconVertical {width: 15px; height: 30px; position: absolute; top: 1px; left: 0; background-image: url('assets/images/expandoLeftRight.png');}
  .noaaExpandoIconVertical .a11yNode {display:none; visibility:hidden;}

  .noaaExpandoIconLeft {background-position: 0 0;}
  .noaaExpandoClosed .noaaExpandoIconLeft {background-position: -30px 0; margin-right: 4px;}
  .noaaExpandoIconRight {background-position: -30px 0;}
  .dojoxExpandoClosed .noaaExpandoIconRight {background-position: 0 0; margin-left: 4px;}

  /*@import url("dojo-release-1.10.4/dojox/layout/resources/ExpandoPane.css");*/        /* local Dojo version of ExpandoPane.css */


/*  end of DOJOX Expando settings  */


#bannerDiv  { height: 30px; background-color:var(--NoaaBgColor) }
#stateNavigator  {width: 100%; height: 0; }
#linksPane  {background-color: var(--NoaaBgColor); padding: 5px; border: none; }      /*Q: Why need to repeat BGcolor? */
#mapAndImageryBC  { }
#mapWToolsBC  { border: double}
#mapDiv  { min-width: 560px }
  #coordinates  { position:absolute; left:60px; bottom:15px; color:#000; z-index:10; }
#mapToolsExpando  { width: 350px}
#mapToolsAccordion  {}
/*
#layerListPane  {}
  #layerListTab  {}
    #layerListDom  {max-height: 100%}
  #legendTab  {}
    #legendDom  {}
*/
#locationsPane  {}
#downloadPane  {}
#mediaBC  { width: 500px }
/*#videoGraphDiv  {}*/
/*#graphDiv  {visibility: hidden}*/
#tableQueryExpando  { height: 250px }
#tableQueryBC  {}
#tableDiv  {}
#queryDiv  { width: 40%}


/*#v_video_message  {display: none; position:absolute; right: 10px; bottom: 5px; background-color: rgba(255,255,255,0.5)}*/
/*#photoImage_message  {display: none; position:absolute; right: 10px; top: 50%; font-weight: bold; background-color: rgba(255,255,255,0.5)}*/
/*#photoImage_container  {position:absolute; width:100%; height:0; top:0; overflow:hidden; background-color:rgb(208,215,225)}*/

/* .button-short  {font-size: 30px; height: 50px;} */

/*.bottom  {position: absolute; bottom: 30px; width: 100%}*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ffffff;
}


/*
.fbVertical  {display: flex; flex-flow: column;}

.fbVertical .fbHeader  {position:absolute; top: 0; flex: 0 1 30px}     !* no growth, height=30px *!
.fbVertical .fbFooter  {position:absolute; top: 0; flex: 0 1 30px}     !* no growth, height=30px *!

.fbVertical .fbStatic30  {flex: 0 1 30px}     !* no growth, height=30px *!
.fbVertical .fbStaticFit  {flex: 0 1 auto}    !* no growth, fit to content*!
.fbVertical .fbGrow30  {flex: 1 1 30px}       !* grow, initial height=30px *!
.fbVertical .fbGrowFit  {flex: 1 1 auto}      !* grow, fit to content *!
*/

.semiTransparentBG {height: 20px; color: #000000; background: rgba(255, 255, 255, 0.5)}
/*.semiTransparentBG {background-color: black; opacity: 0.5}*/

.mediaPanelDiv  {overflow: hidden;}   /*from layoutStyle.css */
/*.mediaPanelDiv  {height: 50%; padding: 0}*/

.tablePanelDiv  {height: 100%; padding: 0;}

.PanelDisabled  {position:absolute; width:100%; height:100%; padding: 0; background-color: #d4d4d4; visibility: hidden}
  .MsgDisabled   {color:red; position: absolute; top:50%; left: 30%}

  .mediaPanelEnabled  {position:absolute; width:100%; height:100%; padding: 0; background-color: #d4d4d4; visibility: visible; }
    .mediaHeaderDiv  {position:absolute; width: auto; height:20px; left: 0px; overflow:hidden; padding-left: 5px; padding-right: 5px; z-index: 50; color: black; background-color: white; opacity: 0.7}
    .mediaContainerDiv  {position:absolute; width:100%; height:100%; top:0; overflow:hidden; background-color:black; }
    .mediaToolsContainer  {position:absolute; width:100%; bottom:5px; }
    /*.mediaToolsContainer  {position:absolute; width:100%; height:20px; bottom:0; overflow:hidden; background-color:rgb(238,245,255); flex: 0 1 auto}*/

  .tablePanelEnabled  {position:absolute; width:100%; height:100%; padding: 0; background-color: #d4d4d4;
      visibility: visible; display: flex; flex-flow: column;}
    .tableHeaderDiv  {padding: 0; overflow:hidden; background-color: var(--tableHeaderBgColor); flex: 0 1 25px;}
    .tableHeaderDivEP  {padding: 0; overflow:hidden; background-color: var(--tableHeaderBgColor); flex: 0 1 44px;}
    .tableContainerDiv  {padding: 0; overflow:hidden; background-color:rgb(208,215,225); flex: 1 1 auto;}
    .tableFooterDiv  {padding: 0; overflow:hidden; background-color: #EEF5FF; flex: 0 1 31px;}
    .tableFooterDivEP  {padding: 0; overflow:hidden; background-color: #EEF5FF; flex: 0 1 50px;}

/*  Overrides for these specific elements */
#faSpTableHeaderDiv  {flex: 0 1 25px;}
#faSpTableFooterDiv  {flex: 0 1 45px;}


/* 2 versions, due to unexpected behavior when using customized ExpandoPane */
.tableHeaderTabs  {padding: 0; overflow:hidden; background-color: var(--panelBgColor); flex: 0 1 16px;}
.tableHeaderTabsEP  {padding: 0; overflow:hidden; background-color: var(--panelBgColor); flex: 0 1 35px;}

/* Style the buttons inside the tab */
.tableHeaderTabs button, .tableHeaderTabsEP button {
    background-color: var(--tableHeaderTabsColor);
    border: none;
    outline: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Change background color of buttons on hover */
.tableHeaderTabs button:hover, .tableHeaderTabsEP button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tableHeaderTabs button.active, .tableHeaderTabsEP button.active {
    background-color: var(--tableHeaderBgColor);
}



.photoCount  {float: right; padding-left: 5px; padding-right: 5px; background-color: white; opacity: 0.7}

/*  .mediaHeaderDiv  {position:absolute; width:100%; height:30px; overflow:hidden; background-color:rgb(238,245,255); padding: 0;}*/

    .mediaMessageDiv  {position: absolute; top:50%; left: 40%}
/*    .imageContainer  {width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; vertical-align: middle; margin: auto; display: block}    */
    .imageContainer  {position: absolute; top: 0; left: 0; right: 0; bottom: 0; vertical-align: middle; margin: auto; display: block}
    .playbackControlContainer  {position:absolute; left:35%; width:150px; height:24px; border-radius: 7px; background-color: #76766e;}
      .playbackControl  {padding: 2px}



      .panelTabContainer  {position: absolute; top: 0; height: 20px; background-color: var(--NoaaBgColor);}
/*      .tableHeaderCP  {position:absolute; width:100%; height:100%; padding: 5px; overflow:hidden; background-color:#EEF5FF;}*/
      /* header tabs? */
      /* header content pane?*/
    /* panel footer? */

#offlineAppPanel  {width: 400px; height: 300px; background-color: #dff8ff; opacity: 0.8; }
#settingsPanel    {width: 450px; height: 250px; background-color: #dff8ff; opacity: 0.8; }

.btn_refresh_active  {background-color:red;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
.btn_refresh_inactive  {display: none}


@keyframes flash {
  from {background-color: red;}
  to {background-color: black;}
}

/*.esri-search__suggestions-list  {overflow-y: scroll}*/

.esri-view-width-xlarge .esri-popup__main-container,
.esri-view-width-large .esri-popup__main-container,
.esri-view-width-medium .esri-popup__main-container
{
  width: 320px !important;
}

.esri-popup__inline-actions-container:only-child>.esri-popup__action, .esri-popup__inline-actions-container:only-child>.esri-popup__action-toggle {
    max-width: 200px;      /* ensure that entire "move camera" text is visible*/
}

.esri-view-height-xlarge .esri-popup__main-container,
.esri-view-height-less-than-xlarge .esri-popup__main-container
{
    max-height: 80%;
}

.esri-widget  {opacity: 1.0; background-color: white; font-weight: bold}
/*.esri-widget  {opacity: 1.0; background-color: white}*/

.esri-widget--button  {width: 24px; height: 24px}

.esri-ui-top-right .esri-component, .esri-ui-top-left .esri-component  {margin-bottom: 5px}

.esri-expand { min-height: 24px; min-width: 24px; }

.esri-layer-list__list {
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
}

.esri-layer-list__item-container {background-color: transparent; padding: 0px 7px 0px 0px;}    /* was "0px 7px 5px 20px" */

/*  The following hides the visibility checkbox for group layers, and disables turning them off via mouse-click  */
/*  NOTE:  All group layers MUST have the "visible" property set to true  */
/*
.esri-layer-list__item--has-children > .esri-layer-list__item-container > .esri-layer-list__item-label
{pointer-events: none;}
.esri-layer-list__item--has-children > .esri-layer-list__item-container > .esri-layer-list__item-label > .esri-layer-list__item-toggle {visibility: hidden; display: none  }
*/

.esri-layer-list__item--invisible-at-scale>.esri-layer-list__item-container
{ padding-top: 0; }

/*
.esri-layer-list__item-container:has(.esri-layer-list__item-title[title="10s"]) {display: none}
.esri-layer-list__item-title[title="10s"]  {display: none}
 */

/*.esri-layer-list-panel__content--legend {visibility: hidden; display: none}*/
.esri-layer-list-panel   { margin-top: 0}

/*
.esri-icon-visible:before{content:"\e68d";color:inherit}
.esri-icon-non-visible:before{content:"\e68e";color:inherit}
.esri-icon-default-action:before{content:"\e904";color:inherit}
*/
.esri-icon-visible:before{content:"\e611";color:inherit}
.esri-icon-non-visible:before{content:"\e610";color:inherit}
.esri-icon-default-action:before{content:"\e663";color:inherit}

.esri-legend__layer-table  {margin-bottom: 0;}
.esri-legend__layer-caption  {padding-bottom: 0}
.esri-legend__layer-cell  {padding: 0 0;}
.esri-legend__message {visibility: hidden; display: none}
/*.esri-legend {visibility: hidden; display: none}*/

.esri-popup__content {
  overflow-x: auto;
/*  padding: 2px;     /* does this do anything?  */
}


/* this line hide layers when out of scale for the inline TOC */
.agsjsTOCOutOfScale {
  display: none;
}

/* .tableContainer .dgrid-cell { width: 200px } */

.dataTable  { flex: auto; font-family: Tahoma; font-size: 12px;}

/* Default all cells to 80px width */
.dataTable .dgrid-cell .dgrid-column-0 {
    width: 180px;
}

/*  // Can use this to change default alignment of items in cells
.dataTable .dgrid-content .dgrid-cell {
    text-align: right;
}
*/

/*
.dataTable .dgrid-cell:hover {
  background-color: #de0;
}
*/

.dataTable .dgrid-row {
background-color: #fff;
border-bottom: 1px solid #ccc;
cursor: pointer;
}
.dataTable .dgrid-row:hover {
  background-color: #def;
}
.dataTable .field-name {
  width: 20em;
}

.totalBox  { background-color: #F6FAFF; border: 1px solid gray; }

/*     For the video playback speed indicator */
.slider {
  float: right;
}

.linkInPopup  {text-decoration: underline; font-weight: bold}


.layoutImg  {position: absolute; top: 2px;}



.boldLabel, .tableHeaderTitle {font-weight: bold}


.draggableDivMsg {
    position: absolute;
    left:100px;
    top:100px;
    width:600px;
    height:100px;
    z-index: 10;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: hidden; /*auto;*/
    display: none;
}

.draggableDiv {
    position: absolute;
    left:100px;
    top:100px;
    width:700px;
    height:500px;
    z-index: 10;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: hidden; /*auto;*/
    display: none;
    flex-flow: column;
}

.draggableDivHeader {
    height: 15px;
    padding: 5px;
    cursor: move;
    z-index: 11;
    background-color: #6884B3;
    color: #fff;
}

.draggableDivContent {
    z-index: 12;
    background-color: #f1f1f1;
    /*height: 100px;*/
}

.opacitySlider {
    position: absolute;
    right:25px;
    top:5px;
    height:10px;
    z-index: 12;
}

/* The Close Button */
.close {
    position: absolute;
    right:5px;
    top:0;
    color: black;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.nowrap_ScrollX {
    white-space: nowrap;
    /*overflow-x: auto;     doesn't work at this level? */
}

.tableHeaderIcon  {padding-left: 5px;}

.iconDiv  {height: 24px;}

.icon_Active  {background-color: #6884B3;}
.icon_Inactive  {background-color: white;}

.actionIcon  { display: block; margin-left: auto; margin-right: auto; height:15px; width:15px }
.actionIconPopup  { display: inline; position: relative; top: 3px; height:15px; width:15px }

.chartDiv  {position: absolute; }
.chartTitleDiv  {position: absolute; font-weight:bold; font-size: 10px;}

.svgLabelText  {font-family: sans-serif; font-weight:bold; font-size: 10px; color: #eef5ff;}

.vertProfileStyle  {fill:#AAAAAA;stroke:black;stroke-width:0.3;}
.hiddenLineStyle  {fill:none;stroke:none;}

.scaleBarStyle  {fill:#AAAAAA;stroke:black;stroke-width:1;}

.axisScaleLabel{ font-size: 10px; font-weight: normal}

.tickMark { position: absolute; border-left: 1px solid; height: 100%; }

.stateTabStyle  { font-family:verdana; font-size: 18px; background-image: none; }

.claro .dijitTabContainerTop-tabs .dijitTab {
    top: 1px;
    margin-right: 8px;
    padding: 3px 6px;
    border-bottom-width: 0;
    min-width: 60px;
    text-align: center;
    background-image: none;
    /*
    background-image: url(layout/images/tabTopUnselected.png);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0.6) 7px, rgba(255, 255, 255, 0) 100%);
    */
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.claro .dijitTab {
    border: 1px solid black;
    background-color: #3E87BF;
    -webkit-transition-property: background-color, border;
    -moz-transition-property: background-color, border;
    transition-property: background-color, border;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    transition-duration: 0.35s;
    color: #494949;
}


.claro .dijitTabContainerTop-tabs .dijitTabChecked {
    background-image: none;
}

.claro .dijitTabChecked {
    border-color: #b5bcc7;
    background-color: #A7B5C1;
    color: #000000;
}

.claro .dijitTabPaneWrapper  { display: none}

.claro .dijitTab .tabLabel  {outline: none; font-size: 16px}

/*  This is the class for Layer headers (including Group layers)
.esri-layer-list__item-title
 */

#cbLimitToExtentDiv  {position: absolute; left: 30px; top:30px; font-size: 12px; font-style: italic; font-weight: bold;}


.dropdown-content, .dropdown-content-visible {
    display: none;
    position: absolute;
    background-color: #eeffee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    border: 1px solid grey;
    padding: 5px;
}

.dropdown-content-visible { display: inline-block; }

dropdown {
    display: inline;
}

/*
.dropdown:hover .dropdown-content {
    display: inline-block;
}*/

.closeButton {position: absolute; bottom: 10px; right: 10px;}

.mapCheckboxText  { font-size: 12px; font-style: italic; font-weight: bold; opacity: 0.8}